.container {
    padding: 50px;
}

.panel-group .panel {
    border-radius: 0px;
}

.panel {
     border-radius: 0px;
 }

#companies-tab {
    padding-top: 5px;
}

.container {
    padding: 15px;
}

.navbar {
    margin-bottom: 0px;
}

#job_fragment_button_container {
    float: right;
    padding-bottom: 10px;
}
